<h1 class="display-2" style="display: flex; align-items: center ; justify-content: center" >Add new friend</h1>

<br>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Back to friends", friends_path, class: "btn btn-outline-primary" %>
</div>
